<div class="card-container">
    <div class="card" style="width: 23rem;">
        <div class="card-body">
            <h4 class="card-title">Elegant Communication</h4>
            <p class="card-text">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                sed diam Lorem ipsum dolor sit amet, consectetuer adipiscing
                elit, sed diam Lorem ipsum dolor sit amet, consectetuer
                adipiscing elit, sed diam Lorem ipsum dolor sit amet,
                consectetuer adipiscing elit, sed diam Lorem ipsum dolor
                sit amet, consectetuer adipiscing elit, sed diam </p>
            <a href="#" class="btn">LINK TEXT</a>
        </div>
    </div>
</div>