
.header {
  nav {
    background-color: #3c4b55;
    li.nav-item {
      a.nav-link {
        color: #ffffff;
        font-size: 12px;
        &:hover {
          color: lightgray;
        }
      }

    }
  }
}
