<div class="album-container">
    <div class="album">
        <div class="container">
            <div class="row text-center text-lg-left">

                <div class="col-lg-3 col-md-4 col-sm-6 card">
                    <a href="#" class="d-block mb-0 h-100">
                        <img class="img-fluid" src="/assets/images/album/one.png" alt="">
                        <h4 class="card-text text-center">Digital Strategy</h4>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 card ">
                    <a href="#" class="d-block mb-0 h-100">
                        <img class="img-fluid" src="/assets/images/album/two.png" alt="">
                        <h4 class="card-text text-center">Design</h4>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 card ">
                    <a href="#" class="d-block mb-0 h-100">
                        <img class="img-fluid" src="/assets/images/album/three.png" alt="">
                        <h4 class="card-text text-center">Development</h4>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 card ">
                    <a href="#" class="d-block mb-0 h-100">
                        <img class="img-fluid" src="/assets/images/album/four.png" alt="">
                        <h4 class="card-text text-center">Performance<br/>
                            Marketing</h4>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 card ">
                    <a href="#" class="d-block mb-0 h-100">
                        <img class="img-fluid" src="/assets/images/album/four.png" alt="">
                        <h4 class="card-text text-center">Neuro Linguistic<br/>
                            Search</h4>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 card ">
                    <a href="#" class="d-block mb-0 h-100">
                        <img class="img-fluid" src="/assets/images/album/three.png" alt="">
                        <h4 class="card-text text-center">Video</h4>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 card ">
                    <a href="#" class="d-block mb-0 h-100">
                        <img class="img-fluid" src="/assets/images/album/two.png" alt="">
                        <h4 class="card-text text-center">Neuromarketing</h4>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 card ">
                    <a href="#" class="d-block mb-0 h-100">
                        <img class="img-fluid" src="/assets/images/album/one.png" alt="">
                        <h4 class="card-text text-center">Analysis &<br/>
                            Improvement</h4>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>