.album-container {

  .album {
    background-color: #f7f7f7;
  }

  .card {
    padding: 0;
    margin-bottom: 0;
    border: 0;
    position: relative;

  }
  .card {
    a {
      position: relative;
      img {
        border: none;
        padding: 0;
        margin: 0;
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
        border-radius: 0;
        &:hover {
          -webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
          filter: grayscale(50%);
        }
      }
      .card-text {
        position: absolute;
        top: 50%;
        padding: 0 1rem 0 1rem;
        width: 100%;
        color: #ffff00;
        font-size: 16px;
      }
    }
  }

}