<div class="form-container">
    <toaster-container></toaster-container>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-xs-none">
            </div>
            <div class="col-lg-6 form-wrapper">
                <form name="userForm" ng-submit="$ctrl.submitForm(userForm.$valid)" novalidate>
                    <h4>Elegant Communication</h4>
                    <!-- Full NAME -->
                    <div class="form-group"
                         ng-class="{ 'has-error' : userForm.fullName.$invalid && !userForm.fullName.$pristine}">
                        <input title="fullName" type="text" name="fullName" class="form-control"
                               ng-model="user.fullName" placeholder="full name*" required>
                        <p ng-show="userForm.fullName.$invalid && !userForm.fullName.$pristine" class="help-block">You
                            full name is
                            required.</p>
                    </div>

                    <!-- EMAIL -->
                    <div class="form-group"
                         ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                        <input type="email" name="email" class="form-control" ng-model="user.email"
                               placeholder="email address *">
                        <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a
                            valid email.</p>
                    </div>
                    <!-- Phone -->

                    <div class="form-group"
                         ng-class="{ 'has-error' : userForm.phone.$invalid && !userForm.phone.$pristine }">
                        <input type="number" name="phone" class="form-control" ng-model="user.phone"
                               placeholder="contact number *" required>
                        <p ng-show="userForm.phone.$invalid && !userForm.phone.$pristine" class="help-block">Enter a
                            your contact number.</p>
                    </div>
                    <!-- Strategy -->
                    <div class="form-group" ng-class="{ 'has-error' : userForm.strategy.$invalid && !userForm.strategy.$pristine }">

                    <select title="selectStrategy" name="strategy" class="form-control" ng-model="user.strategy" required>
                            <option value="">digital strategy or transformation</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                        <p class="help-inline" ng-show="userForm.strategy.$error.required && !userForm.strategy.$pristine">Required</p>
                    </div>

                    <button type="submit" class="btn btn-primary">CONTACT ME</button>

                </form>
            </div>
        </div>
    </div>
</div>